@model ForgotPasswordModel
<form action="/Home/SendForgotPassword" class="form-password-change" id="form-password-change" method="post" onsubmit="return SendForgotPassword(this)">
    <div class="aj-fld">
        <p class="aj-ttl">Email</p>
        @Html.TextBoxFor(m => m.UserEmail, new { @class = "add-inpt full_width", @placeholder = "Email Address" })
        @Html.ValidationMessageFor(m => m.UserEmail)
    </div>
    <div class="aj-fld">
        <input type="submit" class="save btns forget_btn" value="Submit">
    </div>
</form>
