<div class="pagingWrapper">
    <div class="total-results">Total <span class="total-results-count"></span> Results</div>
    <div class="pager">
        <span class="first">« First</span> <span class="previous">Previous</span> <span class="numeric">
        </span><span class="next">Next</span> <span class="last">Last »</span>
    </div>
    <div class="pageInfo">
    </div>
</div>