@model PopupModel
<div aria-hidden="false" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="Popup" class="modal fade bs-example-modal-sm in" 
     style="opacity:0; display: block; padding-right: 17px;">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog  modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" data-dismiss="modal" onclick="closePopUP(this)" class="close" type="button"><span aria-hidden="true">×</span></button>
                <h4 id="myModalLabel" class="modal-title">@Model.Title </h4>
            </div>
            <div class="modal-body">
                @Html.Raw(Model.Body)
            </div>
            <div class="popup-message-outer"><span class="msg-popup"></span></div>
        </div>
    </div>
    <script type="text/javascript">
    $(document).ready(function () {
        var h = $(window).height();        
        $('.modal-backdrop').css('height', h + 'px');
        $(document).on('click', '.modal-backdrop', function () { closePopUP(this); });
        $.ResetUnobtrusiveValidation($('#Popup').find('form'));
    })
    function closePopUP(sender) {
        $('#Popup').animate({ "opacity": "0" }, 200);
        setTimeout(function () {
            $('#Popup').remove();
        }, 500);
    }
    function CloseSuccess() {
        $('#Popup').delay(3000).animate({ "opacity": "0" }, 500);
        setTimeout(function () {
            $('#Popup').remove();
        }, 4000);
    }
    </script>
</div>