@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";    
}

<div class="center-content">
    <div class="center-inr Jokes-div">
        Hello World
    </div>
    <aside class="right-sidebar">
        <div class="ad"><img src="/Content/images/ad.jpg" alt=""></div>
        <div class="ad"><img src="/Content/images/ad.jpg" alt=""></div>
    </aside>
</div>
@section Script{
    
}
